@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e65b00;
}

.search-container {
    width: 100%;
    padding: 30px 10px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
}

#searchInput {
    width: 100%;
    padding: 10px 30px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#courses-lists {
    list-style: none;
    padding: 0;
    margin: 0;
}

#courses-lists li {
    border-bottom: 1px solid rgb(110, 97, 97);
    border-radius: 5px;
}

#courses-lists li a {
    display: block;
    padding: 10px;
    font-size: 18px;
    color: black;
    background-color: #f6f6f6;
    border-radius: 5px;
    text-decoration: none;
}

/* Hover styles for different course types */
#courses-lists li .html:hover    { background-color: rgba(246, 148, 123, 0.76); }
#courses-lists li .css:hover     { background-color: rgb(136, 156, 234); }
#courses-lists li .js:hover      { background-color: rgb(249, 234, 137); }
#courses-lists li .git:hover     { background-color: rgb(238, 153, 138); }
#courses-lists li .react:hover   { background-color: rgb(95, 229, 253); }
#courses-lists li .node:hover    { background-color: rgb(138, 219, 135); }
#courses-lists li .express:hover { background-color: rgb(122, 117, 117); }
#courses-lists li .mongo:hover   { background-color: rgb(89, 201, 145); }
