* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Body Styles */
body {
    color: white;
    background-color: purple;
}

/* Main Container */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    margin: 1rem 0;
}

.container img {
    width: 5rem;
}

/* Timer Container */
.timer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    width: 30%;
    margin-top: 2rem;
    padding: 2rem;
    
    border: 1px solid white;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.timer-container p {
    margin: 0 0.9rem;
}

/* Timer Display */
.columns {
    font-size: 2rem;
}