/* Reset and Base Styles */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Section */
header {
    height: 300px;
    position: relative;
}

header::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./office.jpg);
    background-position: bottom;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}

header::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-position: bottom;
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
}

/* Navbar */
.navbar {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.navbar ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar ul li {
    padding: 8px 12px;
}

.navbar ul li a {
    color: #fff;
    position: relative;
    text-decoration: none;
    z-index: 2;
}

.navbar .responsive {
    display: none;
}

#hamBurger {
    display: none;
}

/* Buttons */
.button {
    animation: none;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-color: rgb(32, 154, 202);
    color: #fff;
    padding: 7px 10px;
}

.btn {
    color: black;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    width: 0;
}

.btn:hover::after {
    animation: width 0.5s forwards;
    background-color: aqua;
    border-radius: 5px;
    bottom: -10px;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
}

/* Home Section */
#home {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem;
    width: 100%;
}

.home-left {
    height: 300px;
    position: relative;
}

.home-left img {
    border-radius: 10px;
    height: 100%;
}

.home-right {
    width: 50%;
}

.home-heading {
    font-size: 2rem;
    margin-bottom: 10px;
}

.home-para {
    margin-bottom: 20px;
}

/* Workflow Section */
#workFlow {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
    text-align: center;
    width: 100%;
}

.heading {
    margin: 1rem auto;
    text-align: center;
}

.para {
    margin: 1rem auto;
}

.num-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    width: 70%;
}

.num-item {
    color: rgb(43, 126, 199);
    font-size: 1.5rem;
    line-height: 1.4rem;
}

/* Our Goal Section */
#goal {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem auto;
    width: 80%;
}

.goal-left {
    line-height: 2rem;
    width: 60%;
}

.goal-left h2 {
    font-size: 2.4rem;
}

.goal-left p {
    line-height: 1.5rem;
    margin: 1rem 0;
}

.goal-left ul {
    list-style: none;
    margin-bottom: 1rem;
}

.goal-left ul li::before {
    color: red;
    content: '✓';
    line-height: 1.5rem;
}

.goal-right {
    position: relative;
    width: 35%;
}

.goal-right img {
    border-radius: 10px;
    cursor: pointer;
    filter: drop-shadow(3px 4px 5px black);
    transition: all 0.2s linear;
    width: 100%;
}

.goal-right img:hover {
    filter: drop-shadow(5px 6px 7px black);
    transform: translateY(-5px);
}

/* Our Team Section */
#our-Team {
    margin: 4rem auto 1rem;
    width: 80%;
}

#our-Team h2 {
    margin: 1rem auto 4rem;
    position: relative;
    text-align: center;
}

#our-Team h2::after {
    background-color: aqua;
    border-radius: 5px;
    bottom: -10px;
    content: '';
    height: 4px;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    width: 15%;
}

.teamContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
}

.team-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
}

.team-item h5 {
    font-size: 1.1rem;
    margin-top: 1rem;
}

.team-item span {
    color: rgb(7, 176, 176);
    font-weight: bold;
    margin-top: .4rem;
    text-transform: uppercase;
}

.team-item img {
    width: 80px;
}

/* Footer */
footer {
    padding: 1rem 0;
    text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 784px) {
    #list {
        display: none;
    }

    #hamBurger {
        cursor: pointer;
        display: block;
        font-size: 2rem;
        z-index: 20;
    }

    .navbar .responsive {
        background-color: rgb(24, 23, 24);
        display: flex;
        flex-direction: column;
        height: 100vh;
        left: 100%;
        opacity: 0.9;
        padding: 2rem 0;
        position: fixed;
        top: 0%;
        transition: all 0.5s linear;
        width: 100%;
        z-index: 2;
    }

    .navbar ul li {
        margin: 0.4rem 0;
    }

    .responsive.active {
        left: 0%;
    }

    .goal-right {
        margin: 0 auto 2rem;
        width: 100%;
    }

    .goal-left {
        text-align: center;
        width: 100%;
    }

    #goal {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 633px) {
    #home {
        flex-direction: column;
    }

    .home-left {
        height: auto;
        width: 100%;
    }

    .home-left img {
        width: 100%;
    }

    .home-right {
        margin-top: 2rem;
        width: 100%;
    }

    .para {
        width: 90%;
    }

    .num-container {
        flex-direction: column;
    }

    .num-item {
        margin: 1rem;
    }

    .teamContainer {
        justify-content: center;
    }
}

/* Animations */
@keyframes width {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}