/* Reset default browser styles and set box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation container styles */
.navigation {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    display: block;
    margin: 0 auto;
    border-radius: 1.5rem;
    background-color: purple;
    transform: translate(-50%, 0);
}

/* Navigation list styles */
.navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/* Navigation list item styles */
.navigation ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin: 1rem;
    padding: 0 1rem;
    color: white;
    background: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s linear;
}

/* Hover effect for navigation items */
.navigation ul li:hover {
    color: purple;
    background-color: #fff;
    transform: scale(1.2);
}

/* Icon styles inside navigation items */
.navigation ul li i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}